*.app
*.zip
*.py[cod]
*egg-info

*.class
*.war
*.ear

# backup files
*~
*.swp

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# nosetest
.coverage
coverage
coverage.xml
nosetests.xml
MANIFEST
build
dist
target
distribution

tmp_client_script.q
tmp_client_data.log
rpt_imp_cost_summary.log
dependency-reduced-pom.xml

# ruby
.rbenv-gemsets
.ruby-version

# Others
.DS_Store
Thumbs.db

# redis
dump.rdb

# eclipse
.classpath
.project
.settings
.pydevproject
.springBeans
log.txt
.gradle
gradle
out/
tools/switches/work/

# intellij
*.ids

